.nav{
    background-color: black;
    width: 100%;
    color: white;
}
.button{
    text-align: center;
    font-weight: 500;
    font-size: large;
    background-color: black;
    color: white;
}
.button:hover{
    background-color: lightblue;
    color: black;
}
body{
    margin-top: 0px;
}
